@import "~@/styles/common.scss";

.partnerCard {
  padding: 16px;
  transition: 0.3s; 
  box-shadow: 0 0 0 1px cl('transparent') ;

  &:hover {
    box-shadow: 0 0 0 1px cl('divider') ;
  }

  &__link {
    display: flex;
    color: cl("dark");
    text-decoration: none;
  }

  &__logo {
    min-width: 64px;
    height: 64px;
    margin-right: 24px;

    img {
      width: 100%;
    }
  }

  &__text {
    color: cl("dark");
    max-width: 216px;
  }

  &__name {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 14px;
    line-height: 20px;
    color: cl("text-secondary");
  }

  @include break-xl {
    &__text {
      max-width: none;
    }
  }

  @include break-lg {
    & + & {
      margin-left: 32px;
    }

    &__logo {
      display: flex;
      align-items: center;
    }

    &__text {
      display: flex;
      align-items: center;
    }

    &__name {
      font-size: 16px;
      line-height: 24px;
      text-decoration: underline;
    }
  }

  @include break-md {
    &__link {
      flex-direction: column;
      align-items: center;
    }

    &__logo {
      width: 120px;
      padding: 0 24px;
      height: 104px;
      margin-right: 0;
      margin-bottom: 10px;

      &_fullWidth {
        padding: 0;
      }
    }

    &__text {
      max-width: 120px;
      text-align: center;
    }
  }
}

.special .partnerCard__logo img {
  width: 100px;
}

.special .partnerCard__logo {
  margin-bottom: 60px;
}

.special .partnerCard__link {
  flex-direction: column;
}