@import "~@/styles/common.scss";

.questionWrap {
  width: 100%;
  height: 100%;

  position: relative;
}

.question {
  display: block;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 40px;
}

.btnWrap {
  display: flex;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;

  @include break-lg {
    position: absolute;
  }
}

.deleteBtn {
  max-width: 416px;
  width: 100%;

  &+& {
    margin-top: 20px;
  }
}