@import "~@/styles/common.scss";

.switcher {
  background-color: cl("background-secondary");
  &__items {
    padding: 2px;
    display: flex;
  }

  &__btn {
    padding: 6px 16px;
    width: 100%;
    height: auto;
    font-family: $primary-font-family;
    font-size: 14px;
    line-height: 20px;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;

    &_selected {
      background-color: cl("white");
      box-shadow: 0px 1px 3px cl("black", 0.15);
      font-weight: 600;
      color: cl('dark');
    }

    & + & {
      margin-left: 4px;
    }

    &[disabled] {
      cursor: default;
    }
  }
}
