@import "~@/styles/common.scss";

.flightRegPassengers {
  &__content {
    display: flex;
    align-items: flex-start;
    gap: 144px;
    margin: 48px 0 184px;
  }

  &__info {
    min-width: 416px;
    position: sticky;
    top: 48px;
  }

  @include break-xl {
    &__content {
      gap: 84px;
    }
  }

  @include break-lg {
    &__content {
      margin-bottom: 80px;
      flex-direction: column-reverse;
      gap: 0;
    }

    &__info {
      display: none;
    }
  }
}
