@import "~@/styles/common.scss";

.stats {
  padding-bottom: 120px;

  &__company {
    width: 100%;
    margin-bottom: 96px;

    &_mobile {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  @include break-lg {
    padding-bottom: 80px;

    &__items {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
  }

  @include break-md {
    &__items {
      grid-template-columns: 1fr;
    }
  }

  @include break-sm {
    &__company {
      margin-top: 24px;
      margin-bottom: 40px;
      
      &_desktop {
        display: none;
      }

      &_mobile {
        display: block;
      }
    }
  }
}
