@import "~@/styles/common.scss";

.accountTabsNotification {
  width: 100%;
  padding: 60px;
  background-color: cl('background-secondary');
  margin-top: 32px;

  @include break-sm {
    width: auto;
    padding: 40px;
    margin-left: -20px;
    margin-right: -20px
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

    @include break-sm {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    @include break-sm {
      font-size: 16px;
      line-height: 24px;
    }
  }
}